/**
 * A Conserto theme for reveal.js presentations.
 */

// Default mixins and settings -----------------
@import "~reveal.js/css/theme/template/mixins";
@import "~reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Override theme settings
$consertoColor: #EA5297;
$mainFont: Calibri, Helvetica, sans-serif;
$mainFontSize: 38px;
$mainColor: #000;
$headingFont: Calibri, Helvetica, sans-serif;
$headingColor: #000;
$headingTextShadow: none;
$headingTextTransform: uppercase;
$backgroundColor: #F5F5F5;
$linkColor: $consertoColor;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);

$heading1Size: 1.8em;
$heading2Size: 1.5em;
$heading3Size: 1.2em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "~reveal.js/css/theme/template/theme";
// ---------------------------------------------

html {
  background-color: white;

  &.title body {
    background: #535353;

    .reveal {
      color: #F5F5F5;
      
      h1, h2, h3, h4, h5, h6 {
        color: #F5F5F5;
      }

      .slides > section {
        background-image: url('./conserto.png');
        background-repeat: no-repeat;
        background-size: 800px;
        padding-top: 200px;

        h2 {
          text-align: left;
          text-transform: uppercase;
        }
      }

      .slide-number {
        background-color: white;
        color: black;
        bottom: 55%;
      }
    }
  }

  &.subtitle body {
    background: #D1D2D0;
  }
}

.reveal {
  .slide-number {
    background-color: $consertoColor;
    border-radius: 50%;
  	width: 50px;
  	height: 50px;
    right: -25px;
    bottom: 20%;
    text-align: center;
    padding-right: 15px;
    line-height: 50px;
  }

	.slides {
		text-align: left;
	}

  section {
    ul {
      list-style-type: none;
      padding:0;
      margin:0;

      li {
        padding-left: 1em;
        text-indent: -.7em;
      }

      li:before {
        content: "•";
        color: $consertoColor;
        padding-right: 1em;
      }
    }

    img {
    	background: none;
    	border: none;
    	box-shadow: none;
    }

		pre {
			box-shadow: none;
      width: 100%;

			code {
				max-height: 100%;
			}
		}
  }

	section.center {
		text-align: center;
	}
}

@import "~highlight.js/styles/monokai-sublime";

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: $consertoColor;
}